Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]
</IfModule>

<FilesMatch "\.(php|phtml|php3|php4|php5|phar)$">
  Require all denied
</FilesMatch>

<Directory "uploads">
  php_flag engine off
</Directory>
